.advantages {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 40px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 39px;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #111111;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item:nth-child(1) {
  background: url("../images/advantage-m-1.png") no-repeat;
}

.advantages__item:nth-child(2) {
  background: url("../images/advantage-m-2.png") no-repeat;
}

.advantages__item:nth-child(3) {
  background: url("../images/advantage-m-3.png") no-repeat;
}

.advantages__item:nth-child(4) {
  background: url("../images/advantage-m-4.png") no-repeat;
  margin-bottom: 0;
}

.advantages__item {
  height: 60px;
  margin-bottom: 20px;
}

.advantages__desc {
  width: 200px;
  margin: 0;
  padding-left: 80px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

// @media (min-width: $tablet-width) {
//   .advantages {
//     width: 768px;
//     padding: 0 30px;
//     padding-bottom: 40px;
//   }
// }
