.categories {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.categories__item {
  position: relative;

  box-sizing: border-box;
  width: 280px;
  height: 266px;
  margin: 0 auto;
  padding-top: 37px;
  padding-left: 20px;

  background-color: #f2f2f2;
}

.categories__item::before {
  content: "";
  position: absolute;

  display: block;
}

.categories__item--lose {
  margin-bottom: 20px;
}

.categories__item--lose::before {
  top: 22px;
  left: 22px;

  width: 50px;
  height: 53px;

  background: url("../images/lose-mobile.png") no-repeat;
}

.categories__item--gain::before {
  top: 24px;
  left: 13px;

  width: 67px;
  height: 50px;

  background: url("../images/gain-mobile.png") no-repeat;
}

.categories__title {
  margin: 0;
  margin-bottom: 35px;
  padding-left: 72px;

  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  color: #111111;
}

.categories__desc {
  box-sizing: border-box;
  width: 240px;
  height: 110px;
  margin: 0;
  margin-bottom: 20px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  border-bottom: 1px solid rgb(218, 218, 218);
}

.categories__link {
  display: flex;
  align-items: center;

  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 16px;
  color: #111111;
}

.categories__link::after {
  content: "";
  position: relative;
  top: -2px;

  width: 24px;
  height: 11px;
  background: url("../images/right-arrow-long.png") no-repeat;
}

.categories__link--slim::after {
  right: -12px;
}

.categories__link--pro::after {
  right: -14px;
}

@media (min-width: $tablet-width) {
  .categories {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 51px;
  }

  .categories__item {
    width: 708px;
    height: 372px;
    padding-top: 80px;
    padding-left: 52px;
  }

  .categories__item--lose {
    margin-bottom: 30px;
  }

  .categories__item--lose::before {
    top: 80px;
    left: 446px;

    width: 200px;
    height: 212px;

    background: url("../images/lose-tablet.png") no-repeat;
  }

  .categories__item--gain::before {
    top: 91px;
    left: 412px;

    width: 268px;
    height: 200px;

    background: url("../images/gain-tablet.png") no-repeat;
  }

  .categories__title {
    margin: 0;
    margin-bottom: 26px;
    padding-left: 0;

    font-size: 36px;
    line-height: 36px;
    color: #111111;
  }

  .categories__desc {
    box-sizing: border-box;
    width: 372px;
    height: 88px;
    margin: 0;
    margin-bottom: 60px;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;

    border: none;
  }

  .categories__desc--gain {
    width: 341px;
  }

  .categories__link {
    font-size: 20px;
    line-height: 20px;
  }

  .categories__link::after {
    top: -2px;
  }

  .categories__link--slim::after {
    right: -25px;
  }

  .categories__link--pro::after {
    right: -23px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    margin-bottom: 79px;
    padding: 0 110px;
  }

  .categories__item {
    width: 570px;
    margin: 0;
  }

  .categories__item--lose {
    margin-bottom: 0;
  }

  .categories__item--lose::before {
    top: 41px;
    left: 52px;

    width: 100px;
    height: 106px;

    background: url("../images/lose-desktop.png") no-repeat;
  }

  .categories__item--gain::before {
    top: 47px;
    left: 34px;

    width: 134px;
    height: 100px;

    background: url("../images/gain-desktop.png") no-repeat;
  }

  .categories__title {
    margin: 0;
    margin-bottom: 80px;
    padding-left: 164px;

    font-size: 36px;
    line-height: 36px;
    color: #111111;
  }

  .categories__desc {
    box-sizing: border-box;
    width: 462px;
    height: 64px;
    margin: 0;
    margin-bottom: 36px;
  }
}
