.extra {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 35px;
}

.extra__title {
  position: relative;

  margin: 30px 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #111111;
}

.extra__title::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -20px;

  width: 53px;
  height: 3px;

  background-color: #68b738;
}

.extra__wrapper {
  margin-bottom: 39px;
}

.extra__item {
  box-sizing: border-box;
  width: 280px;
  height: 130px;
  margin: 0 auto;
  padding-top: 14px;

  border-top: 1px solid #cdcdcd;
}

.extra__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.extra__subtitle {
  margin: 0;
  margin-bottom: 12px;

  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 16px;
  color: #222222;
}

.extra__info {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-bottom: 14px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.extra__button {
  width: 280px;
  height: 40px;

  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #68b738;
}

.extra__slogan {
  position: relative;

  display: flex;
  justify-content: center;
}

.extra__desc {
  position: absolute;
  bottom: 41px;

  width: 161px;
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .extra {
    width: 768px;
    padding: 0 30px;
    padding-bottom: 76px;
  }

  .extra__title {
    margin: 0;
    margin-bottom: 75px;
    margin-left: 37px;

    font-size: 36px;
    line-height: 36px;
  }

  .extra__title::after {
    content: url("../images/extra-line.png");
    top: -9px;
    right: -30px;
    z-index: -1;

    width: 768px;

    background-color: #ffffff;
  }

  .extra__wrapper {
    margin-bottom: 69px;
  }

  .extra__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    height: 140px;
    padding-top: 28px;
    padding-left: 38px;
    padding-right: 37px;

    border: 1px solid #cdcdcd;
    border-bottom: none;
  }

  .extra__subtitle {
    width: 165px;
    margin: 0;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;
  }

  .extra__info {
    width: auto;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 16px;
  }

  .extra__text:first-child {
    margin-right: 50px;
  }

  .extra__button {
    width: 633px;
  }

  .extra__slogan {
    align-items: center;
  }

  .extra__image {
    content: url("../images/extra-tablet.png");

    width: 708px;
    height: 200px;
  }

  .extra__desc {
    bottom: auto;
    right: 125px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1440px;
    padding: 0 110px;
    padding-bottom: 86px;
  }

  .extra__title {
    width: 1440px;
    margin-left: 0;
  }

  .extra__title::after {
    content: url("../images/extra-line-desktop.png");
    top: -9px;
    right: -110px;
    z-index: -1;

    width: 1440px;

    background-color: #ffffff;
  }

  .extra__wrapper {
    margin-bottom: 0;
  }

  .extra__item {
    align-items: center;
    width: 895px;
    height: 72px;
    padding: 0;

    border-left: none;
    border-right: none;
  }

  .extra__item:last-child {
    height: 73px;
  }

  .extra__subtitle {
    margin: 0;
  }

  .extra__info {
    width: 290px;
  }

  .extra__text:first-child {
    margin-right: 0;
  }

  .extra__button {
    width: 245px;
    height: 40px;
  }

  .extra__image {
    content: url("../images/extra-desktop.png");

    width: 245px;
    height: 289px;
  }

  .extra__desc {
    bottom: 43px;
    right: auto;

    text-align: center;
  }
}
