.join-us {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.join-us--alt {
  background-color: #f2f2f2;
}

.join-us__wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 320px;
  height: 114px;
  padding: 0 20px;
}

.join-us__title {
  margin: 0;
  margin-right: 13px;

  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  color: #111111;
}

.join-us__text {
  width: 135px;
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.join-us__map {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .join-us {
    width: 768px;
  }

  .join-us__wrapper {
    justify-content: space-between;
    width: 768px;
    height: 201px;
    padding: 0 70px;
  }

  .join-us__title {
    width: 156px;
    margin: 0;
    margin-left: 3px;

    font-size: 20px;
    line-height: 25px;
  }

  .join-us__text {
    width: 155px;
    margin: 0;

    font-size: 16px;
    text-align: right;
  }

  .join-us__text:first-child {
    margin-bottom: 20px;
  }

  .join-us__map {
    content: url("../images/map-tablet.png");

    display: block;
    width: 768px;
    height: 397px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .join-us {
    position: relative;
    width: 1440px;
  }

  .join-us__wrapper {
    position: absolute;
    bottom: 103px;
    left: 110px;

    justify-content: space-between;
    width: 570px;
    padding: 0;
    padding-left: 75px;
    padding-right: 90px;

    background-color: #ffffff;
  }

  .join-us__text {
    text-align: left;
  }

  .join-us__map {
    content: url("../images/map.png");

    width: 1440px;
    height: 400px;
  }
}
