$fs-small-mobile: 14px;
// $fs-medium-mobile: 14px;
$fs-big-mobile: 36px;
$fs-small-tablet: 16px;
$fs-sm-tablet: 20px;
$fs-medium-tablet: 36px;
$fs-big-tablet: 60px;
// $fs-medium-desktop: 14px;
// $fs-big-desktop: 14px;
